/* ===== GLOBAL RESET ===== */
/*ensures the webpage works across all browsers*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  color: #333;
  background: linear-gradient(to bottom, #cfbeb0 30%, #ffffff 100%);
}

/*==========================================header content============================================*/
#header-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
  box-shadow: 8px 8px 20px rgba(104, 82, 82, 0.733);
}

.logo-container {
  display: flex;
  align-items: center;
  width: auto;
}
.logo-container img {
  width: 30%;
  height: auto;
  padding: 2rem;
}

.navbar {
  position: absolute;
  left: 48%; /* true horizontal center */
  transform: translateX(-50%); /* true horizontal center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

/* Style the <a> tagged words inside the navbar */
.navbar a {
  text-decoration: none; /* removes underlines */
  color: black; /* default color */
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: -0.5px; /* squishes letters slightly */
}

/* Add a hover effect */
.navbar a:hover {
  color: #8b5a3c; /* change color on hover */
  transform: scale(1.05); /* slightly enlarge */
}

/*====================================================================================================================================================*/
main {
  flex: 1; /* takes up remaining space between header and footer */
  display: flex;
  flex-direction: column;
  border: solid red;
}
/*===================================================================================================================================================*/
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-title {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);

  /* animation */
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: 0.3s;

  border: solid black;
}

#sample-text {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);

  /* animation */
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: 0.3s;
}

/* text Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* subtle upward motion */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}













footer {
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #b9aa9e;
  color: rgb(0, 0, 0);
  font-family: "IBM Plex Mono", sans-serif;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  z-index: 1000; /* ensures it stays above other elements */
  position: relative;
}

/* ================================== WAVY BACKGROUND ===== */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 56, 0, 0.662) 3%,
    rgb(176, 167, 141) 38%,
    rgb(198, 208, 177) 48%,
    rgb(218, 203, 179) 58%
  );

  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1; /* keeps it behind everything */
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
